@import "variables";
@import "icons";
@import "base";
@import "countdown_bar";
@import "difficulty_bar";
@import "flash_card";
@import "lessons";

.button-back {
    float: left;
    left: 25%;
}

.button-show-all-cards {
    float: right;
    right: 25%;
}
