.difficulty-bar {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, red, yellow, green);
}

.difficulty-bar-part {
    font-size: 24px;
    padding: 10px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    cursor: pointer;

    &:first-of-type {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    &:not(:first-child) {
        border-right: 1px solid black;
    }
}
