.lesson-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.lesson-options {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.card-outer {
    width: 150px;
    height: 100px;
    background-color: $cardBackgroundColor;
    padding: 5px;
    margin: 20px 5px;
    position: relative;
    color: $cardTextColor;
}

.card-inner {
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
}

.card-inner-text {
    font-size: 24px;
    width: max-content;
    margin: 0 auto;
}

.lesson-week-outer {
    @extend .card-outer;
}

.lesson-week-inner {
    @extend .card-inner;
}

.lesson-week-inner-text {
    @extend .card-inner-text;
}
