$pink: #f9ceee;
$purple: #e0cdff;
$cyan: #c1f0fb;
$green: #dcf9a8;
$yellow: #ffebaf;

$backgroundColor: white;
$foregroundColor: black;
$cardBackgroundColor: $yellow;
$cardTextColor: black;
$fontFamily: "Palatino, serif";
