{{!-- {{#unless activeLesson}} --}}
  <button class="button button-left" {{action "backToLessonsList"}}>
    Back to Lessons List
  </button>
{{!-- {{/unless}} --}}

<h4 class="text-center">
    Lesson {{activeLesson.id}}
</h4>

{{!-- <div class="card-outer" {{action "displayVocabularyList" "dialogues"}}>
  <div class="card-inner">
    <div class="card-inner-text">
      <p>
        Conversations
      </p>
    </div>
  </div>
</div> --}}

{{#if activeLesson}}
  {{lesson-exercise
      activeVocabularyList = activeLesson.cards
      backToLesson = "backToLesson"}}
{{/if}}
