<div class="lesson-week-inner">
  <div class="icon-right" {{action "confirmRemoveLesson" number}}>
    <i class="ii-close"></i>
  </div>
  <div class="lesson-week-inner-text">
    <p>
      {{lesson.name}}
    </p>
  </div>
</div>
