<div class="card-outer" {{action "displayVocabularyList" "dialogues"}}>
  <div class="card-inner">
    <div class="card-inner-text">
      <p>
        Conversations
      </p>
    </div>
  </div>
</div>

<div class="card-outer" {{action "displayVocabularyList" "phrases"}}>
  <div class="card-inner">
    <div class="card-inner-text">
      <p>
        Phrases
      </p>
    </div>
  </div>
</div>

<div class="card-outer" {{action "displayVocabularyList" "vocabulary"}}>
  <div class="card-inner">
    <div class="card-inner-text">
      <p>
        Vocabulary
      </p>
    </div>
  </div>
</div>
